<div class="cartComponent min-h-full max-w-7xl mx-auto">

    <!-- Shown where there are items in the cart -->
    <mat-card *ngIf='cartDataSource.length > 0'>

        <table mat-table [dataSource]="cartDataSource" class="mat-elevation-z10 w-full">

            <!-- Columns -->
            <!-- First item in the cartDataSource array -->
            <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef>
                    Image
                </th>
                <!-- Table cell -->
                <td mat-cell *matCellDef="let product">
                    <img src="{{product.productImageUrl}}" class="productImage w-[100px] my-2" alt="Product Image" />
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-stroked-button routerLink="/home">
                        Continue Shopping
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>
                    Name
                </th>
                <!-- Table cell -->
                <td mat-cell *matCellDef="let product">
                    <p class="productName truncate font-bold max-w-xs block">
                        {{ product.productName }}
                    </p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                </td>
            </ng-container>

            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef>
                    Price
                </th>
                <!-- Table cell -->
                <td mat-cell *matCellDef="let product">
                    {{ product.productPrice | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                </td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef>
                    Quantity
                </th>
                <!-- Table cell -->
                <td mat-cell *matCellDef="let product">

                    <!-- To decrease the quantity -->
                    <button 
                    class="quantityChange"
                    (click)="reduceQuantity(product)"
                    mat-icon-button>
                        <mat-icon>
                            remove
                        </mat-icon>
                    </button>

                    <span class="productQuantity">
                        {{ product.productQuantity }}
                    </span>

                    <!-- To increase the quantity -->
                    <button 
                    class="quantityChange"
                    class="quantityChange"
                    (click)="addQuantity(product)"
                    mat-icon-button>
                        <mat-icon>
                            add
                        </mat-icon>
                    </button>

                </td>
                <td mat-footer-cell *matFooterCellDef>
                </td>
            </ng-container>

            <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef>
                    Total
                </th>
                <!-- Table cell -->
                <td mat-cell class="font-bold" *matCellDef="let product">
                    {{ (product.productQuantity * product.productPrice) | currency }}
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- Here is where we display the full cart total -->
                    <span class="font-bold py-5 block">
                        <!-- Cart Total: {{ getCartTotal(cart.cartItems) | currency}} -->
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>
                    <!-- Button to clear the entire cart -->
                    <button (click)="clearCart()" mat-raised-button color="warn" class="float-right">
                        Clear Cart
                    </button>
                </th>
                <!-- Table cell -->
                <td mat-cell *matCellDef="let product">
                    <!-- Button to remove each item from the cart -->
                    <button mat-mini-fab color="warn" class="float-right">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <!-- Prooceed to Checkout action -->
                    <button mat-raised-button color="primary" class="float-right">
                        Proceed To Checkout
                        <mat-icon>
                            shopping_cart_checkout
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Rows -->
            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="cartColumnHeaders">
                <!-- Table header -->
            </tr>

            <!-- Body Row -->
            <tr mat-row *matRowDef="let row; columns : cartColumnHeaders">
                <!-- Table content -->
            </tr>

            <!-- Table Footer -->
            <tr mat-footer-row *matFooterRowDef="cartColumnHeaders">
                <!-- Table footer goes here -->
            </tr>

        </table>

    </mat-card>

    <!-- Shown when there are no items in the cart -->
    <mat-card *ngIf='cartDataSource.length === 0'>

        <div class="error">

            <!-- Error SVG -->
            <img src="../../../../assets/Images/Error_SVG.png" alt="">

            <!-- Error Text -->
            <h3 class="errorText">
                There are currently no items in your cart!
            </h3>

            <button class="toShopping" routerLink="/home" mat-stroked-button>
                Start Shopping
            </button>

        </div>

    </mat-card>

</div>