.changeLayout mat-icon {
    color: var(--main-theme-color);
    margin: .5rem .3rem;
}

.sortProducts button,
.productsCounter button {
    background-color: var(--main-theme-color);
    margin: .5rem;
    border-radius: .5rem;
    color: var(--white);
    text-transform: uppercase;
    font-size: .8rem;
}