<div class="pageError">

    <div class="errorContent uppercase">

        <img src="../../../../assets/Images/NotFound_SVG.png" alt="404 Page Not Found" />

        <!-- Error message -->
        <h3 class="font-bold">
            OOPS! You made a slip-up :(
        </h3>
        
        <span>
            The page you are looking does not exist!
        </span>

        <button
        class="uppercase"
        routerLink="/home"
        mat-raised-button>
        Go Back Home
        </button>

    </div>

</div>
