<div class="productFilters">

    <!-- Shows the title that expands to reveal contents when clicked -->
    <mat-expansion-panel *ngIf=filterCategories>

        <mat-expansion-panel-header class="mt-2">
            <!-- The title of the expansion model -->
            <mat-panel-title class="panel-title p-2">Categories</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Expansion List content -->
        <mat-selection-list [multiple]="false">
            <!-- Shows the elements in the list -->
            <mat-list-item *ngFor="let categoryFilter of filterCategories" (click)="categoryFilterSelected(categoryFilter)">

                <button>
                    {{ categoryFilter }}
                </button>

            </mat-list-item>
        </mat-selection-list>

    </mat-expansion-panel>

</div>