<div class="homeComponent min-h-full max-w-7xl mx-auto border-x">

    <!-- The side bar naigation drawer -->
    <mat-drawer-container [autosize]="true">

        <!-- Drawer content goes here -->
        <mat-drawer mode="side" class="p-6" opened>

            <div class="font-bold">
                Product Filters

                <app-filters (categoryFilterEmitter)="filterProductsByCategory($event)">
                    <!-- The product filters go here -->
                </app-filters>
            </div>

        </mat-drawer>

        <!-- Container to hold the main page content -->
        <mat-drawer-content class="p-6">
            <!-- Main Page Content Goes Here -->

            <app-products-header (columnNumberEmitter)="changeColumnsLayout($event)">
                <!-- The products list header goes here -->
            </app-products-header>

            <!-- All Products Wrapper -->
            <mat-grid-list gutterSize="10" [cols]="productColumns" [rowHeight]="rowHeight">
                <!-- The Products go in here -->

                <mat-grid-tile
                *ngFor="let product of products; let index = index">
                    <!-- Each single product goes in here -->
                    <app-product-item
                    [product] = "product"
                    (addProductToCartEmitter)="addProductToCart($event)"
                    class="w-full"
                    [productFullWidth] = "isInFullWidth()">
                        <!-- This is each product item -->
                    </app-product-item>
                </mat-grid-tile>

            </mat-grid-list>


        </mat-drawer-content>

    </mat-drawer-container>

</div>