<div class="homeComponent">

    <!-- The side bar naigation drawer -->
    <mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">

        <!-- Drawer content goes here -->
        <mat-drawer mode="side" class="p-6" opened>

            <div>
                Filters
            </div>

        </mat-drawer>

        <!-- Container to hold the main page content -->
        <mat-drawer-content class="p-6">
            <!-- Main Page Content Goes Here -->
        </mat-drawer-content>

    </mat-drawer-container>

</div>