/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    --main-background-color: #1E1E1E;
    --white-text-color: white;
    --money-green: #f18f01;
    --white: white;
    --warning-red: red;
    --transparent: transparent;
    --linear-bg: linear-gradient(var(--main-background-color), rgb(20, 30, 20));
    --disabled: grey;
    --dark-grey: #333;
}

/* Project Global Styles */
html,
body {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--white);
}

/* Custom Styles */
li{
    list-style: none;
}

a {
    text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: .4rem;
}

::-webkit-scrollbar-track{
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb{
    background: var(--money-green);
    opacity: .2;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    opacity: 1;
}