<div class="productItem">

    <mat-card class="p-3" [ngClass]="{ 'text-center' : !isInFullWidthMode() }">

        <div [ngClass]="{ 'flex' : isInFullWidthMode() }" class="productItemContent">

            <!-- Product Image -->
            <div class="productImage ">
                <img [ngClass]="{ 'h-[200px]' : !isInFullWidthMode(), 'h-[210px]' : isInFullWidthMode() }"
                    class="m-1 mx-auto h-[200px]" src="{{product.image}}" alt="Product image placeholder">
            </div>

            <!-- Product Details -->
            <div [ngClass]="{'px-8 flex flex-col justify-between' : isInFullWidthMode()}" class="productDetails w-full">

                <div>
                    <h5 class="productCategory uppercase font-bold">
                        {{product.category}}
                    </h5>

                    <p class="productTitle p-1 font-bold truncate hover:whitespace-normal">
                        {{product.title}}
                    </p>

                    <p *ngIf="isInFullWidthMode()" class="productDescription">
                        {{product.description}}
                    </p>
                </div>

                <div class="productPurchase flex px-3 justify-between align-center">

                    <!-- The product price -->
                    <span class=" productPrice text-orange-500 font-bold cursor-pointer">
                        {{ product.price | currency }}
                    </span>

                    <!-- Add to cart button -->
                    <button (click)="addProductToCart()">
                        <mat-icon class="productToCart text-green-500">shopping_cart</mat-icon>
                    </button>

                </div>

            </div>

        </div>

    </mat-card>

</div>