.productPrice:hover, .productToCart:hover{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.productImage {
    aspect-ratio: 1 / 1;
    width: 9rem;
    height: 9rem;
    margin: auto;
}

.productCategory {
    margin: 1rem 0;
}

.productTitle {
    cursor: pointer;
}

.productPrice{
    color: var(--main-theme-color);
}

mat-card:hover{
    cursor: pointer;
    border-radius: .7rem;
    transform: scale(1.01) translateY(-1%);
    box-shadow: .5px .5px .5rem var(--main-theme-color);
    transition: all .4s ease-in-out;
}